section.list {
	.dataTables_wrapper {
		padding: 1rem 0;

		a {
			cursor: pointer;
			color: $yellow;
		}

		input {
			font-size: 1rem;
			margin: 0 0.8rem;
		}

		.dataTables_length {
			float: right;
			text-transform: uppercase;
			font-size: 1.5rem;
		}
		.dataTables_info {
			 float: right;
			 text-transform: uppercase;
			font-size: 1.5rem;
		}

		.dataTables_filter {
			text-transform: uppercase;
			font-size: 1.5rem;
		}

		.dataTables_paginate {
			text-transform: uppercase;
			font-size: 1.5rem;

			a {
				margin-right: 0.5rem;
			}
		}

		table {
			width: 100%;
			margin: 1.5rem 0;

			a {
				color: $contentBodyTextColour;
			}

			thead {

				th {
					border: 1px solid $contentBodyTextColour;
					border-right: 0;
					border-top: 0;
					padding: 0.4rem 0.8rem;
					vertical-align: middle;
					font-size: 1.4rem;
					cursor: pointer;

					&:first-child {
						border-left: 0;
					}
				}
			}

			tbody {

				tr {
					&:nth-child(2) {
						background: $yellow50;
					}

					td {
						border: 1px solid $contentBodyTextColour;
						border-right: 0;
						border-top: 0;
						border-bottom: 0;
						padding: 0.4rem 0.8rem;
						vertical-align: middle;
						font-size: 1.2rem;

						&:first-child {
							border-left: 0;
						}

						&.icon {
							width: 1.5rem;
							text-align: center;

							svg {
								width: 1.5rem;
								height: 1.5rem;
								fill: $contentBodyTextColour;
							}
						}
					}
				}
			}
		}
	}
}