/** General styles, Main layout and Navigation **/

a {
	text-decoration: none;
}

html
{
	font-family: $mainFont, sans-serif;
	font-size: 16px;
	color: $contentBodyTextColour;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	display: table;

	.logo {
		width: 7.5rem;

		> img {
			margin:auto;
			display: block;
		}
	}

	> section {
		@include transition(2s height);
	}

	> section.page {
		height: 100%;
		display: table-row;
	}

	> section.messages {
		position: relative;

		> div {
			padding: 0.8rem 2rem;
			color: $errorSuccessTextColour;
			font-size: 1.5rem;

			&:last-child {
				@include box-shadow(10px -6px 16px 10px $shadowGrey);
			}

			&.noticeMessage {
				background: $noticeYellow;
			}

			&.successMessage {
				background: $successGreen;
			}

			&.errorMessage {
				background: $errorRed;
			}
		}
	}
}

body {

	svg.hidden {
		display: none;
	}

	#main {
		width: 100%;
		height: 100%;

		* {
			@include transition(max-width 1s ease-out, max-height 1s ease-out);
		}

		> nav,
		> section {
			overflow: hidden;
			height: 100%;
		}

		nav.menu {
			background: $menuRootBackgroundColour;
			position: relative;
			float: left;
			text-transform: uppercase;

			> .logo {
				width: $menuWidth;
				padding: 1rem 0;
			}

			.layer{
				position: absolute;
				top: 0;
				bottom: 0;
				width: $menuWidth;

				@include box-shadow(15px 0px 10px 20px $black);

				&.one {
					background: $menuLayerBackgroundColour;
					z-index: 1;
					left: $menuWidth;
				}

				&.two {
					background: $menuLayerBackgroundColour;
					z-index: 2;
					left: $menuWidth * 2;
				}
			}

			ul {
				margin: 0;
				padding: 0;

				> li {
					list-style: none;
					min-width: $menuWidth;
					border-top: 1px solid $menuRootHighlightColour;
					white-space: nowrap;

					@include display-flex;

					> a {
						display: block;
						height: 100%;
						min-width: $menuWidth;
						color: $menuRootHighlightColour;
						text-decoration: none;
						font-size: 1.5rem;
						line-height: 1.6rem;

						> .icon {
							float: left;
							margin: 0.3rem;
						}

						> .menu-text {
							padding: 1rem 0;
						}
					}

					svg {
						fill: $menuRootHighlightColour;
						width: 2rem;
						height: 2rem;
						float: left;
						border: 2px solid $menuRootHighlightColour;
						margin: 0.6rem;

						@include border-radius(50%);
					}

					> ul {
						max-width: 0;
						max-height: 0;
						z-index: 100;
						margin-top: -1px;

						> li {
							border-color: $menuLayerHighlightColour;

							a {
								color: $menuLayerHighlightColour;
							}

							svg {
								fill: $menuLayerHighlightColour;
								border-color: $menuLayerHighlightColour;
							}
						}
					}

					&:hover {
						> ul {
							max-width: $menuWidth * 2;
							max-height: 100rem;
						}
					}
				}
			}
		}

		section.content {
			background: $contentBackgroundColour;

			> div {
				position: relative;
				height: 100%;
				width: 100%;
				overflow: auto;

				> div {
					padding: 0 4rem;
					position: absolute;
					top: 0;
					right: 0;
					left: 0;

					> header {
						font-size: 3rem;
						padding-top: 2rem;
						padding-bottom: 1rem;
						color: $contentHeaderColour;
					}
				}
			}
		}
	}
}