.nav-icon-photo-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: 0 0;
}

.nav-icon-cross-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -33rem 0;
}

.nav-icon-edit-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: 0 -33rem;
}

.nav-icon-export-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -33rem -33rem;
}

.nav-icon-gear-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -66rem 0;
}

.nav-icon-home-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -66rem -33rem;
}

.nav-icon-info-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: 0 -66rem;
}

.nav-icon-loading-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -33rem -66rem;
}

.nav-icon-location-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -66rem -66rem;
}

.nav-icon-lock-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -99rem 0;
}

.nav-icon-mail-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -99rem -33rem;
}

.nav-icon-map-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -99rem -66rem;
}

.nav-icon-menu-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: 0 -99rem;
}

.nav-icon-download-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -33rem -99rem;
}

.nav-icon-plus-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -66rem -99rem;
}

.nav-icon-print-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -99rem -99rem;
}

.nav-icon-question-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -132rem 0;
}

.nav-icon-search-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -132rem -33rem;
}

.nav-icon-star-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -132rem -66rem;
}

.nav-icon-tick-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -132rem -99rem;
}

.nav-icon-trash-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: 0 -132rem;
}

.nav-icon-unlock-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -33rem -132rem;
}

.nav-icon-up-arrow-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -66rem -132rem;
}

.nav-icon-upload-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -99rem -132rem;
}

.nav-icon-user-group-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -132rem -132rem;
}

.nav-icon-user-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -165rem 0;
}

.nav-icon-warning-icon-large {
	width: 32rem;
	height: 32rem;
	background-position: -165rem -33rem;
}

.nav-icon-photo-icon-large, .nav-icon-cross-icon-large, .nav-icon-edit-icon-large, .nav-icon-export-icon-large, .nav-icon-gear-icon-large, .nav-icon-home-icon-large, .nav-icon-info-icon-large, .nav-icon-loading-icon-large, .nav-icon-location-icon-large, .nav-icon-lock-icon-large, .nav-icon-mail-icon-large, .nav-icon-map-icon-large, .nav-icon-menu-icon-large, .nav-icon-download-icon-large, .nav-icon-plus-icon-large, .nav-icon-print-icon-large, .nav-icon-question-icon-large, .nav-icon-search-icon-large, .nav-icon-star-icon-large, .nav-icon-tick-icon-large, .nav-icon-trash-icon-large, .nav-icon-unlock-icon-large, .nav-icon-up-arrow-icon-large, .nav-icon-upload-icon-large, .nav-icon-user-group-icon-large, .nav-icon-user-icon-large, .nav-icon-warning-icon-large {
	background-size: 198rem 165rem;
	background-repeat: no-repeat;
	background-image: url("../img/sprites/navigation-large.png");
}

.nav-icon-photo-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: 0 0;
}

.nav-icon-cross-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -2.75rem 0;
}

.nav-icon-edit-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: 0 -2.75rem;
}

.nav-icon-export-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -2.75rem -2.75rem;
}

.nav-icon-gear-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -5.5rem 0;
}

.nav-icon-home-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -5.5rem -2.75rem;
}

.nav-icon-info-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: 0 -5.5rem;
}

.nav-icon-loading-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -2.75rem -5.5rem;
}

.nav-icon-location-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -5.5rem -5.5rem;
}

.nav-icon-lock-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -8.25rem 0;
}

.nav-icon-mail-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -8.25rem -2.75rem;
}

.nav-icon-map-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -8.25rem -5.5rem;
}

.nav-icon-menu-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: 0 -8.25rem;
}

.nav-icon-download-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -2.75rem -8.25rem;
}

.nav-icon-plus-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -5.5rem -8.25rem;
}

.nav-icon-print-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -8.25rem -8.25rem;
}

.nav-icon-question-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -11rem 0;
}

.nav-icon-search-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -11rem -2.75rem;
}

.nav-icon-star-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -11rem -5.5rem;
}

.nav-icon-tick-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -11rem -8.25rem;
}

.nav-icon-trash-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: 0 -11rem;
}

.nav-icon-unlock-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -2.75rem -11rem;
}

.nav-icon-up-arrow-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -5.5rem -11rem;
}

.nav-icon-upload-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -8.25rem -11rem;
}

.nav-icon-user-group-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -11rem -11rem;
}

.nav-icon-user-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -13.75rem 0;
}

.nav-icon-warning-icon-small {
	width: 2.6875rem;
	height: 2.6875rem;
	background-position: -13.75rem -2.75rem;
}

.nav-icon-photo-icon-small, .nav-icon-cross-icon-small, .nav-icon-edit-icon-small, .nav-icon-export-icon-small, .nav-icon-gear-icon-small, .nav-icon-home-icon-small, .nav-icon-info-icon-small, .nav-icon-loading-icon-small, .nav-icon-location-icon-small, .nav-icon-lock-icon-small, .nav-icon-mail-icon-small, .nav-icon-map-icon-small, .nav-icon-menu-icon-small, .nav-icon-download-icon-small, .nav-icon-plus-icon-small, .nav-icon-print-icon-small, .nav-icon-question-icon-small, .nav-icon-search-icon-small, .nav-icon-star-icon-small, .nav-icon-tick-icon-small, .nav-icon-trash-icon-small, .nav-icon-unlock-icon-small, .nav-icon-up-arrow-icon-small, .nav-icon-upload-icon-small, .nav-icon-user-group-icon-small, .nav-icon-user-icon-small, .nav-icon-warning-icon-small {
	background-size: 16.5rem 13.75rem;
	background-repeat: no-repeat;
	background-image: url("../img/sprites/navigation-small.png");
}

.svg .nav-icon-photo-icon-large, .svg .nav-icon-cross-icon-large, .svg .nav-icon-edit-icon-large, .svg .nav-icon-export-icon-large, .svg .nav-icon-gear-icon-large, .svg .nav-icon-home-icon-large, .svg .nav-icon-info-icon-large, .svg .nav-icon-loading-icon-large, .svg .nav-icon-location-icon-large, .svg .nav-icon-lock-icon-large, .svg .nav-icon-mail-icon-large, .svg .nav-icon-map-icon-large, .svg .nav-icon-menu-icon-large, .svg .nav-icon-download-icon-large, .svg .nav-icon-plus-icon-large, .svg .nav-icon-print-icon-large, .svg .nav-icon-question-icon-large, .svg .nav-icon-search-icon-large, .svg .nav-icon-star-icon-large, .svg .nav-icon-tick-icon-large, .svg .nav-icon-trash-icon-large, .svg .nav-icon-unlock-icon-large, .svg .nav-icon-up-arrow-icon-large, .svg .nav-icon-upload-icon-large, .svg .nav-icon-user-group-icon-large, .svg .nav-icon-user-icon-large, .svg .nav-icon-warning-icon-large, .svg .nav-icon-photo-icon-small, .svg .nav-icon-cross-icon-small, .svg .nav-icon-edit-icon-small, .svg .nav-icon-export-icon-small, .svg .nav-icon-gear-icon-small, .svg .nav-icon-home-icon-small, .svg .nav-icon-info-icon-small, .svg .nav-icon-loading-icon-small, .svg .nav-icon-location-icon-small, .svg .nav-icon-lock-icon-small, .svg .nav-icon-mail-icon-small, .svg .nav-icon-map-icon-small, .svg .nav-icon-menu-icon-small, .svg .nav-icon-download-icon-small, .svg .nav-icon-plus-icon-small, .svg .nav-icon-print-icon-small, .svg .nav-icon-question-icon-small, .svg .nav-icon-search-icon-small, .svg .nav-icon-star-icon-small, .svg .nav-icon-tick-icon-small, .svg .nav-icon-trash-icon-small, .svg .nav-icon-unlock-icon-small, .svg .nav-icon-up-arrow-icon-small, .svg .nav-icon-upload-icon-small, .svg .nav-icon-user-group-icon-small, .svg .nav-icon-user-icon-small, .svg .nav-icon-warning-icon-small {
	background-image: url("../img/sprites/navigation.svg");
}
