/** Session layout **/

body {

	#session-background {
		width: 100%;
		height: 100%;
		position: fixed;

		background: image-url($sessionBackground) 30% 50% transparent;
	}

	#session {
		position: relative;
		margin: auto;
		top: 5rem;
		width: 20rem;
		font-size: 1.2rem;
		background: $lightGrey;
		padding: 1.2rem;

		@include box-sizing(border-box);
		@include border-radius(2rem 2rem);
		@include box-shadow(0px 3px 10px 4px $shadowGrey);

		input[type="text"],
		input[type="password"],
		input[type="submit"] {
			width: 100%;
			margin-top: 0.5rem;
			padding: 0.6rem;
			border: none;
			font-size: 1.4rem;

			@include box-sizing(border-box);
		}

		input[type="submit"] {
			background: $yellow;
			border: 2px solid $darkGrey;

			@include border-radius(0.2rem);
		}

		.links {
			margin-top: 0.6rem;

			a {
				display: block;
			}
		}
		.errorMessage,
		.successMessage,
		.noticeMessage {
			color: $errorSuccessTextColour;
			margin: 1rem 0;
			width: 100%;
			padding: 0.5rem;

			@include box-sizing(border-box);
			@include border-radius(1rem);
			@include box-shadow(0px 3px 3px 0px $shadowGrey);

			&.errorMessage {
				background: $errorRed;
			}

			&.successMessage {
				background: $successGreen;
			}

			&.noticeMessage {
				background: $noticeYellow;
			}
		}
	}
}