body {

	nav.tools {
		ul {
			border: 1px solid $contentHeaderColour;
			border-left: 0;
			border-right: 0;
			margin: 0;
			padding: 0;

			> li {
				min-width: 5.5rem;
				list-style: none;
				padding: 0.6rem;

				@include inline-block;

				> a {
					display: block;
					font-size: 1.5rem;
					line-height: 2rem;
					color: $contentHeaderColour;

					svg {
						width: 2rem;
						height: 2rem;
						fill: $contentHeaderColour;
						float: left;
						margin-right: 0.2rem;
					}

					&.inactive {
						cursor: default;
						@include opacity(0.5);
					}
				}
			}
		}
	}
}