/** Fonts **/
$mainFont: 'Yanone Kaffeesatz';
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700');

/** Mixins **/
@import 'compass/css3/box-sizing';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/transition';
@import 'compass/css3/flexbox';
@import 'compass/css3/inline-block';
@import 'compass';

/** Colours **/
/**
Alternatives

#2B2720 - dark grey
#AB8124 - yellow
#9A9A9A - light grey
*/
$white: rgb(255, 255, 255);
$lightGrey: rgb(223, 228, 235);
$middleGrey: rgb(183, 188, 198);
$yellow: rgb(230, 195, 42);
$darkGrey: rgb(41, 41, 41);
$black: rgb(0, 0, 0);

$shadowGrey: rgba(100, 100, 100, 0.6);
$yellow50: rgba(230, 195, 42, 0.5);

/** Errors and Success */
$errorSuccessTextColour: $white;
$errorRed: darkred;
$successGreen: green;
$noticeYellow: $yellow;

/** Menu variables **/
$menuWidth: 12rem;
$menuRootHighlightColour: $lightGrey;
$menuRootBackgroundColour: $darkGrey;

$menuLayerHighlightColour: $darkGrey;
$menuLayerBackgroundColour: $yellow;

/** Content variables */
$contentHeaderColour: $darkGrey;
$contentBackgroundColour: $white;
$contentBodyTextColour: $darkGrey;


/** Images **/
$sessionBackground: 'session/background.png';

/** Imports **/
@import 'normalize';
@import 'main';
@import 'lists';
@import 'tools';
@import 'forms';
@import 'session';